@charset "UTF-8";

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #996;
    font-family: 'Noto Sans JP', sans-serif;
}
p {
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
a {
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: underline;
    -o-transition: text-decoration linear .3s;
    -moz-transition: text-decoration linear .3s;
    -webkit-transition: text-decoration linear .3s;
    transition: text-decoration linear .3s;
}
img {
    object-fit: contain;
}
pre {
    display: inline;
}
code {
    background: #999;
    font-family: 'Source Code Pro', monospace;
}
.container {
    display: block;
    margin: 0;
}
.nav-container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    width: 200px;
}
.contents {
    margin: 0 2rem;
}
.footer-contents {
    background: #cc3;
}
@media screen and (min-width: 600px) {
    body {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .container {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .nav {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
    .nav-container {
        position: relative;
        top: 0;
        left: 0;
        padding: 20px;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .contents {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .footer {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}
